<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.logreg.generator.mapper.SysRoleMapper">

    <resultMap id="BaseResultMap" type="com.example.logreg.generator.domain.SysRole">
            <id property="id" column="id" />
            <result property="code" column="code" />
            <result property="name" column="name" />
            <result property="createdAt" column="created_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,code,name,created_at
    </sql>
</mapper>
