<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.likes.mapper.UserRelLikesMapper">

    <resultMap id="BaseResultMap" type="com.example.likes.domain.UserRelLikes">
            <id property="userId" column="user_id" />
            <result property="activityId" column="activity_id" />
    </resultMap>

    <sql id="Base_Column_List">
        user_id,activity_id
    </sql>

    <insert id="insertIgnoreBatch">
        INSERT INTO user_rel_likes (user_id, activity_id)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.userId}, #{item.activityId})
        </foreach>
        ON DUPLICATE KEY UPDATE activity_id = VALUES(activity_id)
    </insert>

    <delete id="deleteBatch">
        DELETE FROM user_rel_likes
        WHERE (user_id, activity_id) IN
        (
        <foreach collection="list" item="item" separator=",">
            (#{item.userId}, #{item.activityId})
        </foreach>
        )
    </delete>
</mapper>
